LOCAL_PORT=xxxx
LOCAL_BASE_URL=xxx
LOCAL_DB_HOST=xxxx
LOCAL_DB_USERNAME=xxxx
LOCAL_DB_PASSWORD=xxxx
LOCAL_DB_NAME=xxxx

DEVELOPMENT_PORT=xxxx
DEVELOPMENT_BASE_URL=xxxx
DEVELOPMENT_DB_HOST=xxxx
DEVELOPMENT_DB_USERNAME=xxxx
DEVELOPMENT_DB_PASSWORD=xxxx
DEVELOPMENT_DB_NAME=xxxx

PRODUCTION_PORT=xxxx
PRODUCTION_BASE_URL=xxxx
PRODUCTION_DB_HOST=xxxx
PRODUCTION_DB_USERNAME=xxxx
PRODUCTION_DB_PASSWORD=xxxx
PRODUCTION_DB_NAME=xxxx